/* Image style */
#scrollUp {
    background-image: url("../img/top.png");
    bottom: 30px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
    text-indent: -9999px;
}


/* Compare Image */
* {box-sizing: border-box;}

			.img-comp-container {
			position: relative;
			height: 200px; /*should be the same height as the images*/
			}

			.img-comp-img {
			position: absolute;
			width: auto;
			height: auto;
			overflow: hidden;
			}

			.img-comp-img img {
			display: block;
			vertical-align: middle;
			}

			.img-comp-slider {
			position: absolute;
			z-index: 9;
			cursor: ew-resize;
			/*set the appearance of the slider:*/
			width: 40px;
			height: 40px;
			background-color: #80d6a3;
			opacity: 0.7;
			border-radius: 50%;
			}
